{% extends 'base.html.twig' %}

{% block title %}Hello LiensController!{% endblock %}

{% block body %}
<a href="{{ path('app_frites') }}">Vers les frites</a>
<a href="{{ path('app_frites') }}">Vers les frites</a>

{% endblock %}